@{

    ViewBag.Title = "Index";
}

<h2>MANAGERI</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.departments.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admission_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cet_companys)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.departments.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.admission_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cet_companys)
            </td>
            <th>
                @Html.DisplayNameFor(modelItem => model.password)
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.roll_num }) |
                @Html.ActionLink("Details", "Details", new { id = item.roll_num }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.roll_num })
            </td>
        </tr>

    }

</table>
